* {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  background-image: url("/src/assets/blue-background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
   display: flex;
  flex-direction: column;
  align-items:center;
}

.board-container {
  border: .7em dotted white;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
}

h1 {
  color:white;
  font-size: 6vw;
}

h2 {
  color: gold;
}

h3 {
  color: gold;
}

#score-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 1em 1em 1em;
    border:.4em solid white;
}

.category-points {
  margin-top: 1em;
  margin-bottom: 1em;
}

.text-box {
  background-color:white;
  color:black;
  /* padding:2em; */
  border: .5em solid gold;
  width: 80%;
  margin-bottom: 1em;
}

.increase-btn {
  background-color:green;
  border-radius: .3em;
  border: 0;
  padding: .8em;
  margin-left:.3em;;
  margin-right:.3em;
}

.decrease-btn {
  background-color:red;
  border-radius: .3em;
  border: 0;
  padding: .8em
}

.reset-btn {
  background-color:white;
  border-radius: .3em;
  border: 0;
  padding: .5em;
  
}

#get-question {
  margin-top: 2em;
  background-color:gold;
  border-radius: .3em;
  border: 0;
  padding: .5em
}

.answer-btn {
  background-color:gold;
  border-radius: .3em;
  border: 0;
  padding: .5em;
  margin-bottom:2em;
}


/* larger screens */

@media(min-width: 669px) {

  .text-box {
    padding: 2em;
  }

}